Node-Red  Flow/flows.json
[
    {
        "id": "8e83510d.300c3",
        "type": "tab",
        "label": "Azure dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c394a82e.391da8",
        "type": "debug",
        "z": "8e83510d.300c3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "9de83634.39f6e8",
        "type": "function",
        "z": "8e83510d.300c3",
        "name": "EDGE-2 data processor",
        "func": "// var t = { payload: msg.payload.Temprature};\n// var h = { payload: msg.payload.Humidity};\nvar edge2 = \"9c2f0f03-5778-4d6b-a6e9-42fa473752e4\";\nif (msg.payload.EdgeID === edge2) {\n    if(msg.payload.DeviceID === \"S4\") {\n        return [{ payload: msg.payload.Data.Temperature},{ payload: msg.payload.Data.Humidity}, null, null, null, null];\n    }\n    if(msg.payload.DeviceID === \"S5\") {\n        return [null, null, { payload: msg.payload.Data.Temperature},{ payload: msg.payload.Data.Humidity}, null, null];\n    }\n    if(msg.payload.DeviceID === \"S6\") {\n        return [ null, null, null, null,{ payload: msg.payload.Data.Temperature},{ payload: msg.payload.Data.Humidity}];\n    }\n}\n// if (msg.payload.deviceID === \"cc978ac6-f78f-404c-82da-dac01393f59c\") {\n//      return [null, null, { payload: msg.payload.payload.Temprature},{ payload: msg.payload.payload.Humidity}];\n// }\n",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "9bd06c99.fc6ec",
                "180be432.182e5c"
            ],
            [
                "4b1ab788.c2b9e8",
                "7b8f56d9.cac9b8"
            ],
            [
                "db9d9570.568ee8",
                "833f8bb7.2c5998"
            ],
            [
                "83f5fe48.4ae5a",
                "512908a4.75d118"
            ],
            [
                "d6aab809.a1f948",
                "120d7477.8f7abc"
            ],
            [
                "fff71cf0.e9e83",
                "b5fc44b0.56b948"
            ]
        ]
    },
    {
        "id": "d8439c2c.b2fdc",
        "type": "ui_gauge",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "e0b1df89.db0b9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1110,
        "y": 20,
        "wires": []
    },
    {
        "id": "a08079d5.288068",
        "type": "ui_gauge",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "d2db1ca1.32fcd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1100,
        "y": 60,
        "wires": []
    },
    {
        "id": "444e82ed.8ef72c",
        "type": "ui_chart",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "e0b1df89.db0b9",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1110,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "17667f79.eae481",
        "type": "ui_chart",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "d2db1ca1.32fcd",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1100,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "678ac4e7.eddc3c",
        "type": "ui_gauge",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "90c3f829.3d4b38",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1110,
        "y": 180,
        "wires": []
    },
    {
        "id": "f308a847.aac508",
        "type": "ui_gauge",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "830a211b.1147e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1100,
        "y": 220,
        "wires": []
    },
    {
        "id": "435b8c7e.a46774",
        "type": "ui_chart",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "90c3f829.3d4b38",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1110,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d385936c.9fc02",
        "type": "ui_chart",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "830a211b.1147e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1100,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6da22977.7334b8",
        "type": "function",
        "z": "8e83510d.300c3",
        "name": "EDGE-1 data processor",
        "func": "// var t = { payload: msg.payload.Temprature};\n// var h = { payload: msg.payload.Humidity};\nvar edge1 = \"1891832b-cbca-43ba-9c6b-192660b316a6\";\n//var edge2 = \"9c2f0f03-5778-4d6b-a6e9-42fa473752e4\";\nif (msg.payload.EdgeID === edge1) {\n    if(msg.payload.DeviceID === \"S1\") {\n        return [{ payload: msg.payload.Data.Temperature},{ payload: msg.payload.Data.Humidity}, null, null, null, null];\n    }\n    if(msg.payload.DeviceID === \"S2\") {\n        return [null, null, {payload: msg.payload.Data.Temperature},{ payload: msg.payload.Data.Humidity}, null, null];\n    }\n    if(msg.payload.DeviceID === \"S3\") {\n        return [ null, null, null, null,{ payload: msg.payload.Data.Temperature},{ payload: msg.payload.Data.Humidity}];\n    }\n}\n// if (msg.payload.deviceID === \"cc978ac6-f78f-404c-82da-dac01393f59c\") {\n//      return [null, null, { payload: msg.payload.payload.Temprature},{ payload: msg.payload.payload.Humidity}];\n// }\n",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "d8439c2c.b2fdc",
                "444e82ed.8ef72c"
            ],
            [
                "a08079d5.288068",
                "17667f79.eae481"
            ],
            [
                "678ac4e7.eddc3c",
                "435b8c7e.a46774"
            ],
            [
                "f308a847.aac508",
                "d385936c.9fc02"
            ],
            [
                "a97cde9e.ca9d6",
                "ee9406b0.bd04e8"
            ],
            [
                "1fbd4f32.b0f7d1",
                "b1e1ec81.dfd96"
            ]
        ]
    },
    {
        "id": "a97cde9e.ca9d6",
        "type": "ui_gauge",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "2feb024c.c6005e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1110,
        "y": 360,
        "wires": []
    },
    {
        "id": "1fbd4f32.b0f7d1",
        "type": "ui_gauge",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "ba6639c8.8b4428",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1100,
        "y": 400,
        "wires": []
    },
    {
        "id": "ee9406b0.bd04e8",
        "type": "ui_chart",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "2feb024c.c6005e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1110,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b1e1ec81.dfd96",
        "type": "ui_chart",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "ba6639c8.8b4428",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1100,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9bd06c99.fc6ec",
        "type": "ui_gauge",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "a2e4f317.db2b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "4b1ab788.c2b9e8",
        "type": "ui_gauge",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "354ae332.df705c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "180be432.182e5c",
        "type": "ui_chart",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "a2e4f317.db2b8",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 770,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7b8f56d9.cac9b8",
        "type": "ui_chart",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "354ae332.df705c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 760,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "db9d9570.568ee8",
        "type": "ui_gauge",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "75b72dc4.bd3544",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "83f5fe48.4ae5a",
        "type": "ui_gauge",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "acb845d8.de9e48",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 400,
        "wires": []
    },
    {
        "id": "833f8bb7.2c5998",
        "type": "ui_chart",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "75b72dc4.bd3544",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 770,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "512908a4.75d118",
        "type": "ui_chart",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "acb845d8.de9e48",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 760,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "d6aab809.a1f948",
        "type": "ui_gauge",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "653b7d79.03b814",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "fff71cf0.e9e83",
        "type": "ui_gauge",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "60c9ff53.347c5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 580,
        "wires": []
    },
    {
        "id": "120d7477.8f7abc",
        "type": "ui_chart",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "653b7d79.03b814",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 770,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "b5fc44b0.56b948",
        "type": "ui_chart",
        "z": "8e83510d.300c3",
        "name": "",
        "group": "60c9ff53.347c5",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 760,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "77db2868.d53e98",
        "type": "azureiothubreceiver-ot",
        "z": "8e83510d.300c3",
        "name": "Azure IoT Hub Receiver",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "9de83634.39f6e8",
                "c394a82e.391da8",
                "6da22977.7334b8"
            ]
        ]
    },
    {
        "id": "da473b2eccb03352",
        "type": "mqtt in",
        "z": "8e83510d.300c3",
        "name": "BROKER MQTT",
        "topic": "00816296-fd9f-4a0f-9c4d-c269c38eab0e",
        "qos": "0",
        "datatype": "auto",
        "broker": "2894ad5b3adac815",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "a54a070295b9cd5a"
            ]
        ]
    },
    {
        "id": "a54a070295b9cd5a",
        "type": "json",
        "z": "8e83510d.300c3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "c394a82e.391da8",
                "6da22977.7334b8",
                "9de83634.39f6e8"
            ]
        ]
    },
    {
        "id": "e0b1df89.db0b9",
        "type": "ui_group",
        "name": "S1-T",
        "tab": "72af3bfc.286f14",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d2db1ca1.32fcd",
        "type": "ui_group",
        "name": "S1-H",
        "tab": "72af3bfc.286f14",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "90c3f829.3d4b38",
        "type": "ui_group",
        "name": "S2-T",
        "tab": "72af3bfc.286f14",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "830a211b.1147e",
        "type": "ui_group",
        "name": "S2-H",
        "tab": "72af3bfc.286f14",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2feb024c.c6005e",
        "type": "ui_group",
        "name": "S3-T",
        "tab": "72af3bfc.286f14",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ba6639c8.8b4428",
        "type": "ui_group",
        "name": "S3-H",
        "tab": "72af3bfc.286f14",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a2e4f317.db2b8",
        "type": "ui_group",
        "name": "S4-T",
        "tab": "29ec5b4.99672a4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "354ae332.df705c",
        "type": "ui_group",
        "name": "S4-H",
        "tab": "29ec5b4.99672a4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "75b72dc4.bd3544",
        "type": "ui_group",
        "name": "S5-T",
        "tab": "29ec5b4.99672a4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "acb845d8.de9e48",
        "type": "ui_group",
        "name": "S5-H",
        "tab": "29ec5b4.99672a4",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "653b7d79.03b814",
        "type": "ui_group",
        "name": "S6-T",
        "tab": "29ec5b4.99672a4",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "60c9ff53.347c5",
        "type": "ui_group",
        "name": "S6-H",
        "tab": "29ec5b4.99672a4",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2894ad5b3adac815",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "72af3bfc.286f14",
        "type": "ui_tab",
        "name": "Home-1(EDGE-1)",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "29ec5b4.99672a4",
        "type": "ui_tab",
        "name": "Home-2(EDGE-2)",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]